%div.text-center(ng-controller='tasksCtrl')
  %h2 Task List
  %input#new-task(ng-model='newTask')
  %button.glyphicon.glyphicon-plus#add-task(ng-click='addTask()')
  %br
  %br
  %div.small-container.col-centered
    %accordion
      %accordion-group(is-open='true')
        %accordion-heading
          %span Started
          %span.badge {{taskList.length}}
        %table.table.table-hover.text-left#task-list
          %tbody
            %tr(ng-repeat='task in taskList')
              %td#started-tasks
                %span {{ task.description }}
                %span.label.label-success.pull-right#remove-task(ng-click='finishTask(task)') Finish