%div.text-center(ng-controller='tasksCtrl')
  %h2 Task List
  %input#new-task(ng-model='newTask')
  %button.glyphicon.glyphicon-plus#add-task(ng-click='addTask()')
  %br
  %br
  %ul.list-unstyled.text-left.small-container.col-centered#task-list(ng-repeat='task in taskList')
    %li
      %span {{ task.description }}
      %span.label.label-warning.pull-right#remove-task(ng-click='removeTask(task)') Remove
