%div(ng-controller='tasksCtrl' ng-init='init()')
  %h2.text-center Task List
  .input-group.small-container.col-centered
    %input.form-control#new-task(ng-model='newTask')
    .input-group-btn
      %button.btn.btn-default#add-task(type='button' ng-click='addTask()') +

  %br
  %div
    %accordion(close-others='false')
      %accordion-group.col-md-4.col-md-offset-2.no-padding.no-margin.primary-blue#started-tasks(is-open='true')
        %accordion-heading
          %span Started
          %span.badge {{startedTasks.length}}
        %table.table.table-hover.text-left
          %tbody
            %tr(ng-repeat='task in startedTasks')
              %td
                %span {{ task.description }}
                %span.label.label-success.pull-right.clickable#remove-task(ng-click='finishTask(task)') Finish
      %accordion-group.col-md-4.no-padding.no-margin.success-green#finished-tasks
        %accordion-heading
          %span#finished-toggle Finished
          %span.badge {{finishedTasks.length}}
        %table.table.table-hover.text-left
          %tbody
            %tr(ng-repeat='task in finishedTasks')
              %td
                %span {{ task.description }}
                %span.label.label-danger.pull-right.clickable#delete-task(ng-click='deleteTask(task)') Delete