%div.text-center(ng-controller='tasksCtrl')
  %h2 Task List
  %input#new-task(ng-model='newTask')
  %button.glyphicon.glyphicon-plus#add-task(ng-click='addTask()')
  %br
  %br
  %div.small-container.col-centered
    %table.table.table-hover.table-nonfluid.text-left#task-list
      %tbody
        %th Started {{taskList.length}}
        %tr(ng-repeat='task in taskList')
          %td
            %span {{ task.description }}
            %span.label.label-success.pull-right#remove-task(ng-click='finishTask(task)') Finish


