/*
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

@import 'colors';

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#tasks-title {
  padding: 10px;
}

.clickable {
  cursor: pointer;
}

.table-hover {
  margin: 0 !important;
}

#add-task-form {
  margin-bottom: 2%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }